{erl_opts, [debug_info, {d, maps_support}]}.
{edoc_opts, [{dir, "edoc"}]}.
{deps, [{erlware_commons, ".*", {git, "git://github.com/erlware/erlware_commons.git", {branch, "master"}}},
        {hackney, ".*", {git, "git://github.com/benoitc/hackney.git", {branch, "master"}}},
        {jsx, "2.7.1", {git, "git://github.com/talentdeficit/jsx.git", {tag, "v2.7.1"}}}]}.
